@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #e7e6e6;
}
/* Landing Page Header */
.header{
    height: 35vh;
    width: 100%;
    padding-top: 8vh;
    background-image: url("../assets/img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
    color: white;
}
.swiper-slide {
    text-align:left;
    font-size: 18px;
    background: white;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    border:solid 3px #e7e6e6;
    font-weight: 600;
}

.rounded-top-left-1 {
    border-top-left-radius: 1rem;
}
.rounded-top-right-1 {
    border-top-right-radius: 1rem;
}
.rounded-bottom-left-1 {
    border-bottom-left-radius: 1rem;
}
.rounded-bottom-right-1 {
    border-bottom-right-radius: 1rem;
}