.marg{
	margin-top: 8%;
}
.shaded-div{
	background-color: #D9D9D9;
	border-radius: 5px;
	padding: 10px;
}
.est{
	color: #778899;
	margin-top: 25px;
}
.textcont{
	margin-left: 5%;
}
.contnt{
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
}
.frm{
	background-color: white;
}
